  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 10px;
  }

  li {
    margin-left: 20px;
  }

  .column-one {
    float: left;
    width: 30%;
  }

  .tag {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .column-two {
    display: inline-block;
    width: 50%;
  }
